<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Playground</title>

    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/css.css">

</head>
<body ng-app='app'>
    <div ng-controller="UsersListCtrl" class="container">
        <div ng-repeat="row in rows | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" class="row items-row">
            <div ng-repeat="item in row" class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <a ng-href="#/{{item.login}}" class="thumbnail">
                    <img ng-src="{{item.avatar_url}}" alt="">
                </a>
                <h4><a ng-href="#/{{item.login}}">{{item.login}}</a></h4>
            </div>
        </div>
        <ul ng-cloak class="pagination">
            <li ng-class="prevPageDisabled()"><a ng-click="prevPage()" href="#">&laquo;</a></li>
            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="#">{{n+1}}</a>
            </li>
            <li ng-class="nextPageDisabled()"><a ng-click="nextPage()" href="#">&raquo;</a></li>
        </ul>
    </div>
    <script src="./bower_components/angularjs/angular.min.js"></script>
    <!-- App scripts -->
    <script src="./scripts/app.js"></script>
    <script src="./scripts/controllers.js"></script>
    <script src="./scripts/filters.js"></script>
    <script src="./scripts/services.js"></script>
</body>
</html>
